In [2]:
import pandas as pd

df = pd.read_csv('BIT_2023_2차.csv')
df.head(3)

,time,Open,High,Low,Close,Volume,returns,volatility,price,quote_qty,...,MACD_1226,Signal_Line_9,MACD_Oscillator1226,atr,highest_high,lowest_low,%K,%D,upper_band,lower_band
0,2023-01-01 0:00,16537.5,16540.9,16504.0,16527.0,5381.399,NaN,NaN,16524.52574,7264.129209,...,0.000000,0.000000,0.000000,36.90,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-01-01 1:00,16527.1,16554.3,16524.1,16550.4,3210.826,0.001416,NaN,16537.21599,6819.889969,...,1.866667,0.373333,1.493333,33.55,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-01-01 2:00,16550.5,16557.1,16534.8,16542.4,2399.668,-0.000483,NaN,16545.81814,6030.420093,...,2.669706,0.832608,1.837098,29.80,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.isna().sum()

time                     0
Open                    24
High                    24
Low                     24
Close                   24
Volume                   0
returns                 12
volatility             186
price                   24
quote_qty               24
is_buyer_maker           0
quote_qty_cal           24
Short_MA_6               0
Long_MA_13               0
MACD_613                 0
Signal_Line_4            0
MACD_Oscillator613       0
Short_MA_12              0
Long_MA_26               0
MACD_1226                0
Signal_Line_9            0
MACD_Oscillator1226      0
atr                      0
highest_high           128
lowest_low             128
%K                     128
%D                     144
upper_band             173
lower_band             173
dtype: int64

In [4]:
df.describe()

,Open,High,Low,Close,Volume,returns,volatility,price,quote_qty,is_buyer_maker,...,MACD_1226,Signal_Line_9,MACD_Oscillator1226,atr,highest_high,lowest_low,%K,%D,upper_band,lower_band
count,8736.000000,8736.000000,8736.000000,8736.000000,8760.000000,8748.000000,8574.000000,8736.000000,8736.000000,8.760000e+03,...,8760.000000,8760.000000,8760.000000,8760.000000,8632.000000,8632.000000,8632.000000,8616.000000,8587.000000,8587.000000
mean,28804.130540,28891.935085,28716.037191,28807.059467,17056.460292,0.000118,0.003896,28805.170679,12658.709880,7.182958e+04,...,20.789249,20.754829,0.034420,175.816296,29205.090222,28474.299687,51.494071,51.495582,29211.261972,28495.414666
std,5888.434989,5908.192988,5867.904464,5888.802865,20699.978444,0.004563,0.002423,5888.087791,4405.138976,6.862010e+04,...,151.151588,143.025837,43.719527,98.277824,5945.194931,5785.911663,23.148779,21.070010,5937.038751,5794.203093
min,16504.300000,16524.900000,16488.000000,16504.200000,0.000000,-0.062584,0.000453,16511.345480,4234.220298,0.000000e+00,...,-620.169040,-552.435958,-204.256973,15.371429,16565.900000,16488.000000,0.000000,6.166357,16590.822650,16486.667190
25%,25921.375000,25991.775000,25860.850000,25922.600000,6064.877750,-0.001524,0.002256,25920.714877,9637.500304,3.164950e+04,...,-45.889499,-42.945911,-19.228752,108.364286,26199.000000,25749.500000,32.572813,34.469481,26192.503870,25762.338305
50%,27708.550000,27821.450000,27622.150000,27710.050000,10470.787500,0.000071,0.003361,27718.307235,11621.437470,5.102250e+04,...,6.093954,6.053262,-0.453125,157.767857,28127.950000,27307.000000,51.306021,51.560209,28117.224640,27372.986890
75%,30276.050000,30332.700000,30221.850000,30276.250000,19544.913500,0.001705,0.004896,30277.162765,14655.969788,8.682075e+04,...,70.832747,68.157391,18.025519,221.616071,30560.000000,29928.800000,70.121780,68.311779,30541.231470,30013.568430
max,44572.000000,44779.300000,44265.700000,44572.000000,355275.447000,0.055638,0.020826,44522.957160,53959.792130,1.133635e+06,...,1027.780514,914.341985,343.236749,950.978571,44779.300000,43754.100000,99.935284,96.268521,45049.681110,43759.153850

In [5]:
# 결측치가 있는 행 식별
missing_rows = df.isnull().sum(axis=1)

In [6]:
# 결측치가 있는 행의 수 계산
num_missing_rows = len(missing_rows[missing_rows > 0])

In [7]:
print("결측치가 있는 행의 수:", num_missing_rows)

결측치가 있는 행의 수: 340

In [9]:
df.shape

(8760, 29)

In [10]:
340 / 8760

0.03881278538812785

전체 데이터 중 결측치 약 3%
- 보통 결측치를 처리할 때, 전체 데이터의 10% 미만이면 결측치 삭제 or 대치